@font-face {
  font-family: 'NeutraThin';
  src: url('../font/NeutraDispThin.otf');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'NeutraBold';
  src: url('../font/NeutraTextBold.otf');
  font-weight: bold;
  font-size: normal;
}

@font-face {
  font-family: 'Neutra';
  src: url('../font/NeutraText-LightAlt.ttf');
}

@font-face {
  font-family:'Bodoni';
  src:url('../font/BodoniFLF-Italic.ttf');
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

span {
  font-family: bodoni;
}

html {
  height: 100%;
}

body {
  font-family: Neutra;
  position: relative;
  background-color: #f0f0f0;
}

#title {
  background-image: linear-gradient(180deg, rgb(104, 97, 125) 0%, rgb(45, 55, 90) 80%);
  background-image: -moz-linear-gradient(top, rgb(104, 97, 125) 0%, rgb(45, 55, 90) 80%);
  background-image: -webkit-linear-gradient(top, rgb(104, 97, 125) 0%, rgb(45, 55, 90) 80%);
  background-image: -o-linear-gradient(top, rgb(104, 97, 125) 0%, rgb(45, 55, 90) 80%);
  background-image: -ms-linear-gradient(top, rgb(104, 97, 125) 0%, rgb(45, 55, 90) 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100px;
  height: 88px;
  display: inline-block;
  margin-bottom: 2rem;
}

#name {
  font-family: NeutraThin;
  color: #67627d;
  font-size: 7rem;
}

#tag {
  font-family: Neutra;
  color: #67627d;
  font-size: 3rem;
}

@media screen and ( min-width: 18em ) and (max-width: 80em) {
  #tag { font-size: 2rem; }
}

#arrow {
  margin-top: 2rem;
  font-size: 2em;
  color: #ffffff;
}

@media screen and ( max-width: 50em ) {
  #name { font-size: 4rem; }
}

@media screen and ( min-width: 50em ) and (max-width: 80em) {
  #name { font-size: 6rem; }
}

/* floating arrow animation */

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(30%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

#content {
  width: 100vw;
  height: 100%;
  background-color: #f0f0f0;
}

/* Intro */
#intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2%;
}

#intro h2 {
  font-family: bodoni;
  font-size: 3em;
  line-height: 120%;
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  #intro h2 { font-size: 1.5rem; }
}

@media screen and ( max-width: 80em ) {
  #intro h2 { font-size: 2rem; }
}


#strapline {
  visibility: hidden;
}

.css-typing {
    width: 24em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 6s steps(50, end);
    animation: type 6s steps(50, end);
}

@keyframes type {
    from { width: 0; }
}

@-webkit-keyframes type {
    from { width: 0; }
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  .css-typing {
    white-space: normal;
    width: 10em;
    animation: none;
  }
}

#main-intro-text {
  font-family: Neutra;
  font-size: 2rem;
  padding: 2% 21%;
}

@-moz-document url-prefix() {
    #main-intro-text {
        margin-bottom: 2rem;
    }
}

@media screen and ( min-width: 18em ) {
  #main-intro-text { font-size: 1.5rem; }
}

/* projects */
#projects-container {
  width: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#706a77+0,2e6879+51,706a77+100 */
  background: #706a77; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #706a77 0%, #2e6879 51%, #706a77 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #706a77 0%,#2e6879 51%,#706a77 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #706a77 0%,#2e6879 51%,#706a77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#706a77', endColorstr='#706a77',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  #projects-container {
    padding-bottom: 1em;
  }
}

#projects-container h2 {
  font-family: NeutraThin;
  text-align: center;
  font-size: 4rem;
  padding-top: 4%;
  color: #ffffff;
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  #projects-container h2 {
    font-size: 3rem;
    padding-top: 12%;
  }
}

#projects-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  #projects-info-container {
    display: block;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
  }
}

#projects-info-container h4 {
  color: #ffffff;
  font-family: NeutraThin;
  font-size: 4rem;
}

#projects-info-container h4:hover {
  color: #1d1d1d;
}

#projects-info-container h4:visited {
  color: #c1fe00;
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  #projects-info-container h4 {
    font-size: 2.5rem;
  }
}

@media screen and ( min-width: 50em ) {
  #projects-info-container h4 {
    font-size: 3rem;
  }
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  #projects-info-container p {
    font-size: 1.4rem;
  }
}

#projects-info-container a {
  color: #ffffff;
}

.projects {
  float: left;
  width: calc(100% * 1/4);
  margin-bottom: 4rem;
  padding: 1em 1.5em;
  color: #ffffff;
  border-radius: 1%;
  background-color: rgba(103, 98, 125, 0.7);
  font-size: 1.5rem;
  font-family: NeutraThin;
}

@media screen and ( min-width: 18em ) and ( max-width: 50em ) {
  .projects {
    float: none;
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* Social Media */
#social-media {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  width: 100%;
  margin-top: 2em;
}

.icon {
  height: 40px;
  width: 40px;
}

/* Contact Information */
#contact-info {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contact-word {
  width: 30%;
}

#contact-email {
  color: #1d1d1d;
  font-size: 1.5rem;
}

#contact-email:hover {
  color: #67627d;
}

/* made with love footer */
#made-with-love {
  background-color: #1d1d1d;
  height: 100px;
  color: #ffffff;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
}

#made-with-love img {
  width: 1.2em;
  margin: 0.3em;
}

#made-with-love i {
  margin: 0.3em;
}

@media screen and ( min-width: 18em ) and ( max-width: 32em) {
  #made-with-love {
    font-size: 1.5rem;
    justify-content: center;
  }
}
